<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conexionHotel"
        connectionString="Data Source=DESKTOP-ATIVF96\SQLEXPRESS;Initial Catalog=Hotel_Boutique_Helene;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>